/* CSS HEX
--onyx: #383d3bff;
--english-vermillion: #d64550ff;
--honey-yellow: #ffae03ff;
--ghost-white: #f0eff4ff;
--white: #fbfffeff;

/* CSS HSL 
--onyx: hsla(156, 4%, 23%, 1);
--english-vermillion: hsla(355, 64%, 55%, 1);
--honey-yellow: hsla(41, 100%, 51%, 1);
--ghost-white: hsla(252, 19%, 95%, 1);
--white: hsla(165, 100%, 99%, 1);
*/

body {
    background-color: #383d3bff;
}

h1, h2, h3, h4, h5, p {
    color: #f0eff4ff;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-family: 'Monoton', cursive;
    font-size: 3em;
    margin: 0 auto;
    margin-bottom: 1.5vw;
}

h2, h3, h4, h5, nav ul li {
    font-family: 'Audiowide', cursive;
}

nav ul {
    display: flex;
    align-content: center;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    gap: 8vw;
    padding: 0;
}

li {
    margin: 0;
    min-width: 200px;
    width: 15vw;
    max-width: 25vw;
    min-height: 1.5vw;
    max-height: 2em;
    border-radius: 50vw;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: .05em;
    padding-right: .05em;
    padding-top: .15em;
    padding-bottom: .15em;
    background-color: #f0eff4ff;
    font-size: 1.5rem;
    box-shadow:  0 0 0 4px #383d3bff, 0 0 0 8px #ffae03ff, 0 0 0 12px #d64550ff;
}

a {
    color: #383d3bff;
    text-decoration: none;
}